# SETTINGS
SHOP_NAME=D3V.SHOP
TITLE_SEPERATOR=-
THEME_NAME=default
DEFAULT_CURRENCY_ID=1

APP_ENV=local
APP_KEY=base64:NEkAHcCGvnka4gPXVs7BZIB3Cd3ZNpaHncgmxGU17PI=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=d3v.shop
DB_USERNAME=phpmyadmin
DB_PASSWORD=1337

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=81dd1f9c393198
MAIL_PASSWORD=8ffe50f775a323
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=test@test.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

PRODUCTS_IMG_PATH=/storage/img/products/

# STRIPE
STRIPE_ENVIRONMENT=1
STRIPE_TEST_WEBHOOK_SECRET=whsec_q6thc1MCIeCAQTaqpj2s7xAHPs4gF6Wd
STRIPE_TEST_PUBLISHABLE_KEY=STRIPE_TEST_PUBLISHABLE_KEY
STRIPE_TEST_SECRET_KEY=sk_test_51IXyhNLDTUdeI5K5ug4g5xqDZi89oVrPCE8qoVE1mplriuCqhRYXRGdRtCma0JH8HmTcMqCyW3jcEEavpJ6COI1y00DzArcC4d
STRIPE_LIVE_WEBHOOK_SECRET=STRIPE_LIVE_WEBHOOK_SECRET
STRIPE_LIVE_PUBLISHABLE_KEY=STRIPE_LIVE_PUBLISHABLE_KEY
STRIPE_LIVE_SECRET_KEY=STRIPE_LIVE_SECRET_KEY
